
// Mixins
@mixin clear-fix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Nav
header {
    display: flex;
    align-items: center;
    will-change: height;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 300ms ease;
    box-sizing: border-box;
    box-shadow: rgba(51, 51, 51, 0.2) 0px 0px 5px 0px;
    &.shrunk {
        height: 4.5rem;
    }
    .logo {
        float: left;
        text-transform: uppercase;
        display: block;
        letter-spacing: 0.04rem;
        height: 100%;
        width: 20%;
        background: -webkit-linear-gradient(330deg, #FB3636 1%, #DC49F5 70%);
        background: -o-linear-gradient(330deg, #FB3636 1%, #DC49F5 70%);
        background: linear-gradient(60deg, #FB3636 1%, #DC49F5 70%);
        @media screen and (max-width: 1025px) {
            width: 45%;
        }
        @media screen and (max-width: 500px) {
            width: 80%;
        }
        a {
            display: block;
            text-decoration: none;
            line-height: 25px;
            text-align: center;
            position: relative;
            top: 35%;
            h1 {
                display: block;
                font-size: 25px;
                text-align: center;
                background: #fff;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    nav {
        display: block;
        box-sizing: border-box;
        @media screen and (max-width: 1025px) {
            display: none;
        }
        ul {
            list-style: none;
            @include clear-fix;
            li {
                float: left;
                line-height: 3rem;
                a {
                    font-size: 14px;
                    color: darken($middle-line-red, 15%);
                    font-family: 'Lato', sans-serif;
                    letter-spacing: 0.2rem;
                    font-weight: bold;
                    padding: 0 3rem;
                    border-right: 1px solid $line-gray;
                }
            }
        }
        a {
            font-size: 1.65rem;
            text-transform: uppercase;
            color: $link-color;
            text-decoration: none;
            transition: color .3s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .menu-collapsed {
        @media screen and (min-width: 1025px) {
            display: none;
        }
        transition:all .25s;
        position:fixed;
        top:0;
        right:0;
        height:80px;
        width:80px;
        z-index:1;
        cursor:pointer;
        nav {
            ul {
                transition: all .05s;
                position: fixed;
                left: -9000px;
            }
        }
    }
    .bar {
        @media screen and (min-width: 1025px) {
            display: none;
        }
        position: fixed;
        right: 30px;
        top: 35px;
        height: 2.5px;
        width: 25px;
        border-radius: 15px;
        background-color: #000;
        &:before {
            transition: all .25s;
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
            height: 2.5px;
            width: 25px;
            border-radius: 15px;
            background-color: #000;
        }
        &:after {
            transition: all .25s;
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            height: 2.5px;
            width: 25px;
            border-radius: 15px;
            background-color: #000;
        }
    }
    .menu-expanded {
        @media screen and (min-width: 1025px) {
            display: none;
        }
        transition: all .25s;
        text-align: center;
        line-height: 5rem;
        height: 100%;
        width: 100%;
        border-radius: 0px;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(45deg, #DC49F5 1%, #FB3636 70%);
        nav {
            @media screen and (max-width: 1025px) {
                display: block;
            }
            ul {
                transition: all .05s;
                position: relative;
                left: 0;
                z-index: 2;
                padding: 12% 0 0 0;
                li {
                    float: none;
                    line-height: 5rem;
                }
            }
        }
        a {
            transition: all .15s;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.75);
            font-size: 2em;
            padding: 1rem;
            &:hover {
                transition: all .15s;
                letter-spacing: 2px;
                color: rgba(255, 255, 255, 1);
                border-bottom: 2px solid #fff;
            }
        }
        .bar {
            background-color: transparent;
            transition: all .25s;
            &:before {
                transition: all .25s;
                content: "";
                transform: rotate(45deg);
                top: -0px;
                background-color: #fff;
            }
            &:after {
                transition: all .25s;
                content: "";
                transform: rotate(-45deg);
                top: 0px;
                background-color: #fff;
            }
        }
    }
}

.container {
    padding: 0 8%;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    @include clear-fix;
}




